mlartifacts
mlruns
wandb
.venv
source
venv
.pytest_cache

taxi/input
taxi/mlruns
taxi/output
taxi/mydb.sqlite
taxi/artifacts
taxi/mlartifacts
taxi/.zen
taxi/mlflow.db
taxi/models
taxi/zenml_tutorial
taxi/__pycache__
taxi/data

homework/week2-wandb/green_tripdata_2022-01.parquet
homework/week2-wandb/green_tripdata_2022-02.parquet
homework/week2-wandb/green_tripdata_2022-03.parquet
homework/week2-wandb/output
homework/week2-wandb/wandb
homework/week2-wandb/artifacts
homework/week2-wandb/regressor.pkl

homework/week4/df_results.parquet
homework/week4/model.bin

homework/week5/venv
homework/week5/data
homework/week5/models

homework/week6/venv
homework/week6/output
homework/week6/test
homework/week6/localstack/aws
homework/week6/localstack/volume
homework/week6/localstack/awscliv2.zip
homework/week6/localstack/localstack-cli-2.1.0-linux-amd64-onefile.tar.gz
homework/week6/localstack/localstack-demo

experiments/health-pipeline/notebooks/heart-disease
experiments/__pycache__
experiments/health-pipeline/volume
experiments/health-pipeline/.terraform