taxi/input
taxi/mlruns
taxi/output
taxi/mydb.sqlite
taxi/artifacts
taxi/mlartifacts
taxi/.zen
taxi/mlflow.db
taxi/models
taxi/zenml_tutorial
taxi/__pycache__
taxi/data

mlartifacts
mlruns
wandb
.venv

homework/week2-wandb/green_tripdata_2022-01.parquet
homework/week2-wandb/green_tripdata_2022-02.parquet
homework/week2-wandb/green_tripdata_2022-03.parquet
homework/week2-wandb/output
homework/week2-wandb/wandb
homework/week2-wandb/artifacts
homework/week2-wandb/regressor.pkl

homework/week4/df_results.parquet
homework/week4/model.bin

homework/week5/venv
homework/week5/data
homework/week5/models